<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item">
                                <LinkTo @route="home">Home</LinkTo>
                            </li>
                            <li>
                                <LinkTo @route="menu">Menu</LinkTo>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <LinkTo @route="cart">Cart</LinkTo>
                                </div>
                            </li>
                            {{#if this.session.isAuthenticated}}
                            <li>
                                <div class="header-icons">
                                    <LinkTo @route="history">History</LinkTo>
                                </div>
                            </li>
                            <li>
                                <div class="header-icons" {{on "click" this.logout}}>
                                    <LinkTo @route="home">Logout</LinkTo>
                                </div>
                            </li>
                            {{else}}
                            <li>
                                <div class="header-icons">
                                    <LinkTo @route="login">Login</LinkTo>
                                </div>
                            </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
