<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">We Serve Food</p>
                        <h1>Timothy's Restaurant</h1>
                        <div class="hero-btns">
                                <LinkTo class="boxed-btn" @route="menu">Order now</LinkTo>
                            <a href="https://findtimo.github.io/" class="bordered-btn">About</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>